body {
    background-color: black;
    color: #f2f2f2;
    font-size: 18px;
    font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif
    
}

nav {
    background-color: #333;
    color: white;
    padding: 20px;
    margin-top: -10px;
    margin-left: -10px;
    
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
    
}

header {
    background-color:black;
    padding: 20px;
}

section {
    margin: 20px;
}

a {
    text-decoration: none;
    color: #0066cc;
}

a:hover {
    text-decoration: underline;
}

h1 {
    margin-bottom: 20px;
}

h2 {
    margin-top: 1000px;

}

<style>
#gallery {
margin: 40px auto;
text-align: center;
}
#gallery img {
width: 200px;
height: 270px;
border-radius: 10px;
margin: 10px;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
</style>